<div class="fade-in one">
<h1 class="text-center">Select a Company</h1>
</div>
<div class="fade-in two">
<section class="gallery-block compact-gallery">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <div ng-click="openModal()">
                    <a class="lightbox" href="">
                        <img class="img-fluid image" src="../static/img/adidas.jpg">
                        <span class="description">
                            <span class="description-heading">Adidas</span>
                            <span class="description-body"></span>
                        </span>
                    </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <div ng-click="company('Facebook')">
                    <a class="lightbox" href="">
                        <img class="img-fluid image" src="../static/img/facebook.png">
                        <span class="description">
                            <span class="description-heading">Facebook</span>
                            <span class="description-body"></span>
                        </span>
                    </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <div ng-click="company('Google')">
                    <a class="lightbox" href="">
                        <img class="img-fluid image" src="../static/img/google.jpg">
                        <span class="description">
                            <span class="description-heading">Google</span>
                            <span class="description-body"></span>
                        </span>
                    </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <div ng-click="company('Nike')">
                    <a class="lightbox" href="">
                        <img class="img-fluid image" src="../static/img/Nike.jpg">
                        <span class="description">
                            <span class="description-heading">Nike</span>
                            <span class="description-body"></span>
                        </span>
                    </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <div ng-click="company('United Airlines')">
                    <a class="lightbox" href="">
                        <img class="img-fluid image" src="../static/img/united.jpeg">
                        <span class="description">
                            <span class="description-heading">United Airlines</span>
                            <span class="description-body"></span>
                        </span>
                    </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <div ng-click="company('Apple')">
                    <a class="lightbox" href="">
                        <img class="img-fluid image" src="../static/img/apple.jpg">
                        <span class="description">
                            <span class="description-heading">Apple</span>
                            <span class="description-body"></span>
                        </span>
                    </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <div ng-click="company('Coca-Cola')">
                    <a class="lightbox" href="">
                        <img class="img-fluid image" src="../static/img/Coca-Cola.jpg">
                        <span class="description">
                            <span class="description-heading">Coca-Cola</span>
                            <span class="description-body"></span>
                        </span>
                    </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <div ng-click="company('Amazon')">
                    <a class="lightbox" href="">
                        <img class="img-fluid image" src="../static/img/amazon.jpg">
                        <span class="description">
                            <span class="description-heading">Amazon</span>
                            <span class="description-body"></span>
                        </span>
                    </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <div ng-click="company('Snapchat')">
                    <a class="lightbox" href="">
                        <img class="img-fluid image" src="../static/img/snapchat.jpg">
                        <span class="description">
                            <span class="description-heading">Snapchat</span>
                            <span class="description-body"></span>
                        </span>
                    </a>
                    </div>
                </div>
            </div>
        </div>
</section>